@import "base/variables";
@import "components/navigation";
@import "components/cards";

body {
  margin: 0;
}

.container {
  width: 100%;
}

.foundationCheckBoxes input[type='checkbox'] {
  margin-left: 0;
  margin-right: .5rem;
}
