@import "base/variables";
@import "components/navigation";
@import "components/cards";

body {
  margin: 0;
}

.container {
  width: 100%;
}

.filterCheckBoxes input[type='checkbox'] {
  margin-left: 0;
  margin-right: .5rem;
}

a:hover, a:active, a:visited {
  text-decoration: none;
}

.loading {
    margin: auto;
    width: 50%;
    margin-top: 100px;
}

.sortBy {
  margin-top: 1%;
  margin-left: 1%;
}
